## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Wallasey,53.4232,-3.0650,54.34,86,90,1.01,GB,2021-12-12 04:38:42
1,1,Naze,28.3667,129.4833,68.92,62,73,8.81,JP,2021-12-12 04:38:43
2,2,Nikolskoye,59.7035,30.7861,25.39,92,100,7.02,RU,2021-12-12 04:38:43
3,3,Zemio,5.0314,25.1361,74.34,45,95,3.74,CF,2021-12-12 04:38:43
4,4,Norman Wells,65.2820,-126.8329,-3.96,71,75,12.66,CA,2021-12-12 04:38:44

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
7,7,Carnarvon,-24.8667,113.6333,80.67,36,0,26.46,AU,2021-12-12 04:38:45
12,12,Harper,4.3750,-7.7169,78.22,85,56,3.83,LR,2021-12-12 04:38:46
14,14,Butaritari,3.0707,172.7902,82.69,73,100,17.13,KI,2021-12-12 04:38:46
23,23,Kapaa,22.0752,-159.3190,78.78,76,75,3.00,US,2021-12-12 04:38:49
24,24,Mana,5.6592,-53.7767,76.53,92,100,9.26,GF,2021-12-12 04:38:50
29,29,Rikitea,-23.1203,-134.9692,75.83,79,67,11.77,PF,2021-12-12 04:38:52
35,35,Avarua,-21.2078,-159.7750,78.85,78,100,14.97,CK,2021-12-12 04:38:54
40,40,Champerico,14.3000,-91.9167,82.35,83,0,8.95,GT,2021-12-12 04:38:57
41,41,Vao,-22.6667,167.4833,78.94,88,99,19.13,NC,2021-12-12 04:38:58
44,44,Bathsheba,13.2167,-59.5167,79.41,83,40,17.27,BB,2021-12-12 04:38:59

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID       132
City          132
Lat           132
Lng           132
Max Temp      132
Humidity      132
Cloudiness    132
Wind Speed    132
Country       132
Date          132
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
7,7,Carnarvon,-24.8667,113.6333,80.67,36,0,26.46,AU,2021-12-12 04:38:45
12,12,Harper,4.3750,-7.7169,78.22,85,56,3.83,LR,2021-12-12 04:38:46
14,14,Butaritari,3.0707,172.7902,82.69,73,100,17.13,KI,2021-12-12 04:38:46
23,23,Kapaa,22.0752,-159.3190,78.78,76,75,3.00,US,2021-12-12 04:38:49
24,24,Mana,5.6592,-53.7767,76.53,92,100,9.26,GF,2021-12-12 04:38:50
...,...,...,...,...,...,...,...,...,...,...
514,514,Mont-Dore,-22.2833,166.5833,86.00,99,99,10.11,NC,2021-12-12 04:52:39
517,517,Mackay,-21.1500,149.2000,86.68,70,15,20.71,AU,2021-12-12 04:52:40
518,518,Rabaul,-4.1967,152.1721,84.56,74,64,12.68,PG,2021-12-12 04:52:40
521,521,Ipilan,8.8431,117.9033,84.49,75,100,11.14,PH,2021-12-12 04:52:41
528,528,Omboue,-1.5746,9.2618,75.04,95,100,5.10,GA,2021-12-12 04:52:44

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
7    Carnarvon      AU     80.67 -24.8667  113.6333
12      Harper      LR     78.22   4.3750   -7.7169
14  Butaritari      KI     82.69   3.0707  172.7902
23       Kapaa      US     78.78  22.0752 -159.3190
24        Mana      GF     76.53   5.6592  -53.7767
29     Rikitea      PF     75.83 -23.1203 -134.9692
35      Avarua      CK     78.85 -21.2078 -159.7750
40  Champerico      GT     82.35  14.3000  -91.9167
41         Vao      NC     78.94 -22.6667  167.4833
44   Bathsheba      BB     79.41  13.2167  -59.5167

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
  

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
# 7. Drop the rows where there is no Hotel Name.
cleanned_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
cleanned_hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Carnarvon,AU,80.67,-24.8667,113.6333,Hospitality Carnarvon
12,Harper,LR,78.22,4.3750,-7.7169,Screensaver
14,Butaritari,KI,82.69,3.0707,172.7902,Isles Sunset Lodge
23,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
24,Mana,GF,76.53,5.6592,-53.7767,LE SAMANA

In [19]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
cleanned_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd> and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in cleanned_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = cleanned_hotel_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

IndexError: list index out of range